@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');



/* HeaderP.css */
.headerP {
  position: fixed;         /* Mantiene el encabezado en una posición fija */
  top: 0;                  /* Fija el encabezado en la parte superior de la página */
  left: 0;                 /* Fija el encabezado al borde izquierdo */
  width: 100%;             /* Asegura que el encabezado ocupe todo el ancho de la página */
  text-align: center;      /* Centra el texto dentro del encabezado */
  font-size: 90px;
  margin-top: 0;
  font-family: 'Love Ya Like A Sister';
  z-index: 1000;           /* Coloca el encabezado por encima de otros elementos */
  padding: 10px 0;         /* Agrega espacio interno (padding) al encabezado */
 
}

.headerP h1 {
  color: #000000;
  font-family: 'Love Ya Like A Sister';
  margin: 0;
}

.headerP h1:first-child {
  font-size: 120px;
  margin-top: 0px;
}

.headerP h1:last-child {
  font-size: 120px;
  margin-top: 0px;
}

.productos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  margin-top: 300px;
}
.producto-cardAll{
  background-color: #a8f5ff; /* Adjust to match the background color in your design */
  border-radius: 400px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 700px; /* Set a maximum width */
  min-width: 350px; 
  position: relative;
}

.producto-card {/* Set a minimum width to maintain consistent size */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items on the left and right */
  text-align: left; /* Ensure text alignment follows the layout */
  font-family: 'Love Ya Like A Sister', cursive; /* Ensure the font matches */
  
}

.producto-info {
  /* Estilos adicionales para la información del producto */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.producto-nombre-descripcion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.producto-nombre-descripcion h2 {
  margin-bottom: 10px;
}


.producto-card h2 {
  font-size:15px;
  margin: 0;
}

.producto-card p {
  margin: 5px 0;
}

.producto-card .delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 390px;
  top: 30px;
  font-size: 10px;
}

